
<%= simple_form_for(@personnel_rating) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nurse_rate %>
    <%= f.input :receptionist_rate %>
    <%= f.input :pharmacist_rate %>
    <%= f.input :doctor_rate %>
    <%= f.input :lab_rate %>
    <%= f.input :cashier_rate %>
    <%= f.input :staff_rate %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
